<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="panel" id="myPanel">
    <h2>面板头部</h2>
    <p>你可以通过点击面板外部区域或按下 Esc 键或滑动来关闭面板。</p>
  <ul data-role="listview" data-inset="true">
      <li><a href="/ss.html">SS</a></li>
      <li><a href="#">链接1</a></li>
      <li><a href="47.94.167.144/owncloud">网盘</a></li>
      <li><a href="#">链接3</a></li>
    </ul>
 </div>
  <div data-role="header">
<a href="#myPanel" class="ui-btn ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left">功能</a>
    <h1>首页</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>Welcome!</p>
  </div>

  <div data-role="footer" data-position="fixed">
    <h1>©2017 www.lllwww.site </h1>
  </div> 
</div> 

</body>
</html>

